{% include 'cloud-init-common.yml.j2' %}

    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: docker-swarm.service
      command: start
      content: |
        [Unit]
        Description=Swarm service
        After=docker.service

        [Service]
        Restart=no
        ExecStart=/usr/bin/docker run -p 4000:4000 -d swarm manage -H :4000 --replication --advertise $public_ipv4:4000 etcd://$public_ipv4:2379/swarm
