{% include 'cloud-init-common.yml.j2' %}

    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: docker.service
      drop-ins:
        - name: 10-docker_opts.conf
          content: |
            [Service]
            Restart=on-failure
            RestartSec=10
            Environment=\"DOCKER_OPTS=--cluster-store=etcd://localhost:2379 --cluster-advertise=${{ advertised_ip_address }}_ipv4:4243\"
    - name: docker-swarm.service
      command: start
      content: |
        [Unit]
        Description=Swarm service
        After=docker.service

        [Service]
        Restart=on-failure
        RestartSec=10
        ExecStartPre=-/usr/bin/docker kill docker-swarm
        ExecStartPre=-/usr/bin/docker rm docker-swarm
        ExecStartPre=/usr/bin/docker pull swarm
        ExecStart=/usr/bin/docker run --restart=on-failure --name docker-swarm -p 4000:4000 -d swarm --experimental manage -H :4000 --replication --advertise $private_ipv4:4000 etcd://$private_ipv4:2379/swarm

    - name: docker-reschedule-start.service
      content: |
        [Unit]
        Description=Start any created docker containers that haven't properly started (docker swarm bug)

        [Service]
        Type=oneshot
        ExecStart=/bin/sh -c '/usr/bin/docker -H tcp://localhost:4000 start $(/usr/bin/docker -H tcp://localhost:4000 ps -a -f status=created -q) | true'

        [Install]
        WantedBy=local.target

    - name: docker-reschedule-start.timer
      command: start
      content: |
        [Unit]
        Description=Run the docker start service every 5 minutes

        [Timer]
        OnCalendar=*:0/5

        [Install]
        WantedBy=local.target
