{% include 'cloud-init-common.yml.j2' %}

    - name: docker.service
      drop-ins:
        - name: 10-docker_opts.conf
          content: |
            [Service]
            Environment=\"DOCKER_OPTS=--cluster-store=etcd://", { "Fn::GetAtt" : [ "MasterLoadBalancer", "DNSName" ] }, ":2379  --cluster-advertise=eth0:4243\"
            Restart=always
            RestartSec=5

    - name: docker-swarm.service
      command: start
      content: |
        [Unit]
        Description=Swarm service
        After=docker.service

        [Service]
        Restart=always
        RestartSec=5
        ExecStart=/usr/bin/docker run --name docker-swarm -d swarm join --addr=${{ advertised_ip_address }}_ipv4:4243 etcd://", { "Fn::GetAtt" : [ "MasterLoadBalancer", "DNSName" ] }, ":2379/swarm
