#cloud-config

coreos:
  etcd2:
    discovery: {{ discovery_service_url.content }}
    advertise-client-urls: http://${{ advertised_ip_address }}_ipv4:2379,http://${{ advertised_ip_address }}:4001
    initial-advertise-peer-urls: http://${{ advertised_ip_address }}_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://${{ advertised_ip_address }}_ipv4:2380
  units:
    - name: etcd2.service
      command: start
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=4243
        BindIPv6Only=both
        Service=docker.service

        [Install]
        WantedBy=sockets.target
    - name: fleet.service
      command: start
    - name: docker-swarm.service
      command: start
      content: |
        [Unit]
        Description=Swarm service
        After=docker.service

        [Service]
        Restart=no
        ExecStart=/usr/bin/docker run --name docker-swarm -d swarm join --addr=${{ advertised_ip_address }}_ipv4:4243 {{ discovery_service_url.content | replace("http", "etcd") }}
