{% include 'minion-config-file.yml.j2' %}

    - name: rpc-statd.service
      command: start
      enable: true

    - name: opt-mashape.mount
      content: |
        [Mount]
        What=AZ_ZONE.",{ "Ref": "DataStorageFileSystem" },".efs.",{ "Ref": "AWS::Region" },".amazonaws.com:/
        Where=/opt/mashape

    - name: runcmd.service
      command: start
      content: |
        [Unit]
        Description=command
        [Service]
        Type=oneshot
        ExecStart=/bin/sh -c 'export AZ_ZONE=$(curl -L http://169.254.169.254/latest/meta-data/placement/availability-zone) && sed -i \"s/AZ_ZONE/$AZ_ZONE/\" /etc/systemd/system/opt-mashape.mount && systemctl daemon-reload && systemctl restart opt-mashape.mount'
