---
# Uncomment and fill below
# cf_region: us-east-1
# cf_vpc_azs: "{{ cf_region }}a,{{ cf_region }}c,{{ cf_region }}d"
# aws_access_key: XXXXXXXXX
# aws_secret_key: XXXXXXXXX
# certificate_arn: "arn:aws:iam::151743893450:server-certificate/test-cert-wildcard"
# ip_address: "your_ip_address/32"
# cf_stack_name: "stack_name_here"
