---
# Uncomment and fill below
# aws_access_key: XXXXXXXXX
# aws_secret_key: XXXXXXXXX
# aws_keypair: XXXXXXXXX
# certificate_arn: "arn:aws:iam::151743893450:server-certificate/test-cert-wildcard"
# ip_address: "your_ip_address/32"
